**/node_modules
**/.next
**/dist
**/out
**/build
**/.git
**/.gitignore
**/.gitattributes
**/.vscode
**/.idea
**/.DS_Store
**/coverage
**/*.log
**/.env
**/.env.*
!**/.env.example
**/tmp
**/.cache
**/.turbo
**/.vercel
**/src/generated
README.md
LICENSE
Dockerfile
docker-compose*.yml
.dockerignore
